{% include 'FP_App/nav.html' %}
{%load static%}

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block child_title %}<title>Gallery</title>{% endblock %}
        <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    </head>
    <body>
        
   

    <h1 class="h3" style="font-size: 40px" >Gallery</h1>
    <div class="banner1">
        <img class="image" src="{% static 'images/1.webp' %}" alt="1">
        <img class="image" src="{% static 'images/2.webp' %}" alt="2">
        <img class="image" src="{% static 'images/3.webp' %}" alt="3">
        <img class="image" src="{% static 'images/4.webp' %}" alt="4">
        
    </div>
    &nbsp;
    &nbsp;
    &nbsp;

    <div class="banner1">
        <img class="image" src="{% static 'images/1.webp' %}" alt="1">
        <img class="image" src="{% static 'images/2.webp' %}" alt="2">
        <img class="image" src="{% static 'images/3.webp' %}" alt="3">
        <img class="image" src="{% static 'images/4.webp' %}" alt="4">
        
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <div class="banner1">
        <img class="image" src="{% static 'images/1.webp' %}" alt="1">
        <img class="image" src="{% static 'images/2.webp' %}" alt="2">
        <img class="image" src="{% static 'images/3.webp' %}" alt="3">
        <img class="image" src="{% static 'images/4.webp' %}" alt="4">
        
    </div>
    &nbsp;
    &nbsp;
    &nbsp;
    <!-- <div class="banner1">
            <img class="image" src="{% static 'images/1.webp' %}" alt="1">
            <img class="image" src="{% static 'images/2.webp' %}" alt="2">
            <img class="image" src="{% static 'images/3.webp' %}" alt="3">
            <img class="image" src="{% static 'images/4.webp' %}" alt="4">
             -->
    </div>
</body>
&nbsp;
&nbsp;
<footer>
    <!-- <h1 class="h2" >Footer Area </h1> -->
    <p>&copy; 2023 MSRCOSMOS GROUP</p>
</footer>


</html>